
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Pacifico&family=Righteous&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');


body{
    padding: 0%;
    margin: 0%;
    font-family: 'Lato';
}

.navbar-brand{
    font-family: 'Pacifico';
    font-size: 35px;
    color: lightcoral !important;
}  


.nav-link{
    font-size: 20px;
    margin: 15px;
    color: black !important;
    font-family:'Noto Sans TC' ;
    white-space: nowrap;
}

.nav-link:hover{
    color: #00E8E8 !important;
}

.active .nav-link{
    color: #00E8E8 !important;
}

.menu-right-btn{
    padding: 13px 46px;
    margin-right: 4%;
    background-color: transparent;
    transition: all 300ms ease-in;
    font-family: 'Noto Sans TC';
    white-space: nowrap;
}

.menu-right-btn:hover{
    color: white;
    background-color: #00E8E8;
}

.site-content{
    background-image: url('images/cat_Index_1.jpg');
    /* background-attachment: fixed; */
    background-size: cover;
    height: 800px;
}


.site-title,.site-desc{
    color: white;
    font-family: 'Noto Sans TC' ;
}

.site-title{
    margin-top: 30%;
    margin-bottom: 6%;
    font-size: 80px;
}

.site-desc{
    font-size: 15px;
    padding-left: 15%;
}

.site-btn1{
    margin-left: 20%;
    background-color: black;
    color: white;
}

.site-btn2{
    background-color: white;
}

.site-btn1,.site-btn2{
    margin-top: 5%;
    margin-bottom: 40%;
}

/*Section-1*/

.section-1 .heading-1{
    margin-top: 8%;
    font-family: 'Noto Sans TC';
}

.section-1 .heading-2{
    margin-bottom: 5%;
    font-size: 39px;
    font-family: 'Noto Sans TC';
}

.section-1 .para-1{
    width: 65%;
    margin-left: 20%;
    margin-bottom: 5%;
    font-family: 'Noto Sans TC';
}

.section-1 .card-text, .para-1{
    color: rgba(0,0,0,0.59);
    font-family: 'Noto Sans TC';
}

.section-1{
    margin-bottom: 8%;
}
.section-1 .card{
    font-family: 'Noto Sans TC';
}

.card{
    height: 100%;
}

/*Section-2*/

.section-2 .container-fluid{
    background-image: url('images/981695.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 650px;
}

.section-2 .heading-1{
    margin-top: 10%;
    margin-bottom: 4%;
    font-family:'Noto Sans TC' ;
    width: 100%;
    color: gray;
    font-size: 75px;
}

.section-2 .heading-2{
    font-family:'Noto Sans TC' ;
}

.section-2 .para{
    width: 100%;
    font-family: 'Noto Sans TC';
    color: gray;
    margin-bottom: 15%;
    font-size: 28px;
}

.section-2 .btn{
    /* margin-bottom: 60%; */
    width: 30%;
    /* padding: 2% 5%; */
    font-family: 'Noto Sans TC';
    font-size: 20px;
}


/*Section-3*/

.section-3{
    margin-top: 6%;
}
.section-3 .heading-1{
    font-family:'Noto Sans TC' ;
}
.section-3 .heading-2{
    font-family:'Noto Sans TC' ;
}
.section-3 .para-1{
    margin-bottom: 5%;
}
.section-3 .col-md-4 img{
    height:250px;
}
.section-3 .card{
    box-shadow: 0px 4px 8px rgba(0,0,0,0.4);
    /* filter: grayscale(30%); */
    border-radius: 20px;
    overflow: hidden;
    transition: all .3s ease;
    font-family: 'Noto Sans TC';
}
.section-3 .card:hover{
   box-shadow: 0px 20px 40px rgba(0,0,0,0.8);
   /* filter: grayscale(0%); */
}

/*Section-4*/

.section-4{
    margin-top: 8%;
    background: linear-gradient(314deg, #A2BF5A 21%, #CCC19B 36%);
    background: -moz-linear-gradient(314deg, #A2BF5A 21%, #CCC19B 36%);
    background: -webkit-linear-gradient(314deg, #A2BF5A 21%, #CCC19B 36%);
    background: -o-linear-gradient(314deg, #A2BF5A 21%, #CCC19B 36%);
}
.section-4 .row .col-md-7, .col-md-5{
    margin-top: 10%;
    margin-bottom: 10%;
}

.section-4 a{
    color: lightseagreen;
    font-size: 30px;
    text-decoration: none;
    font-family: 'Noto Sans TC';
}
.section-4 .text-secondary{
    font-family: 'Noto Sans TC';
}

.section-4 .para-1{
    color: gray;
    font-family: 'Noto Sans TC';
    margin-top: 7%;
    font-size: 23px;
}

/*footer*/

.social i{
    color: #EF5651;
    font-size: 20px;
}
.section-5{
    font-family: 'Noto Sans TC';
}



/*RWD*/
@media screen and (max-width: 768px){
    .section-1 .card{
        width: 80%;
        margin-left: 15%;
        margin-top: 2%;
        height: 100%;
    }
    .section-3 .card{
        width: 80%;
        margin-left: 13%;
        margin-top: 2%;
        height: 100%;
    }
    .section-4 .col-md-7 img{
        width: 350px;
    }
    .section-4 img{
        max-width: 100%;
        margin-left: 12%;
    }
    .site-content .site-title{
        font-size: 30px;
        padding-left: 15%;
    }
    .nav-item{
        text-align: center;
    }
    .menu-right-btn{
        /* margin-left: 35%; */
     }
     .dropdown-item{
        text-align: center;
     }
     footer input[type="button"]{
        margin-top: 5%;
    }
}

@media screen and (max-width:320px){
    .site-content .site-title{
        font-size: 30px;
        padding-left: 15%;
    }
    .site-content .site-btn2{
        display: none;
    }
    .site-content .site-btn1{
        margin-left: 15%;
    }
    .section-1 .heading-1, .heading-2{
        font-size: 25px;
    }
    .section-1 .col-md-4{
        padding: 5%;
        margin-left: 13%;
    }
    .section-1 .card{
        width: 90%;
        margin-left: 7%;
        height: 100%;
    }
    .section-3 .card{
        width: 90%;
        margin-left: 7%;
        height: 100%;
    }
    .section-4 .col-md-5{
        padding: 0% 15%;
    }
    .section-4 img{
        max-width: 100%;
        margin-left: 12%;
    }
    footer input[type="button"]{
        margin-top: 5%;
    }
    .nav-item{
        text-align: center;
    }
    /* .menu-right-btn{
        margin-left: 35%;
     } */
}
@media screen and (min-width: 768px) and (max-width: 1200px){
    .nav-item{
        text-align: center;
    }
    .menu-right-btn{
        /* margin-left: 41%; */
        /* display:none; */
     }
}